body
  background-color: white
  font-family: 'Droid Serif', serif

  header
    width: 900px
    margin: auto

    h1
      font-family: 'Bangers', cursive
      text-align: center
      font-size: 70pt
      margin: 0px
    h2
      text-align: center
      font-size: 1em
      color: #666

  section.registration
    width: 900px
    margin: auto
    text-align: center

    .how
      .step
        h2
          margin-top: 5px
          font-family: 'Leckerli One', cursive
          font-size: 26pt
        margin: 10px 20px
        float: center
        width: 250px
        display: inline-block
        // border: 1px solid black
        // border-radius: 25px
        p
          font-family: 'Bangers', cursive
          font-size: 18pt
      .s1
        color: #5096C6
        p
          font-size: 30pt
      .s2
        color: #336BA1
        p
          font-size: 26pt
      .s3
        color: #294F7F

    .email
      margin: 30px auto
      padding: 10px 10px  
      width: 500px
      height: 300px
      border-radius: 25px
      border: 2px solid black

      label
        display: block
        font-size: 60pt
        font-family: 'Leckerli One', cursive
      input
        font-family: 'Droid Serif', serif
        font-size: 24pt
        width: 400px
        text-align: center
      input[type=submit]
        margin-top: 20px
    .twitter
      background-color: yellow
    .or
      background-color: purple

  footer
    margin: auto
    width: 900px
    text-align: center
  .wip
    visibility: hidden
  .clear
    clear: both