body
  background-color: blue

  header
    h1
      text-align: center
      
  section
    text-align: center

    .email
      background-color: red
    .twitter
      background-color: yellow
    .or
      background-color: purple