!!!
%html
  %head
    = stylesheet_link_tag "application"
    = javascript_include_tag "application"
    = csrf_meta_tags
  %body
    %header
      %h1
        HP 99
      %h2
        Soyez alertés dès la remise en rayon des HP TouchPad
    = yield